{% extends "core.html" %}

{% set title = "About" %}

{% block container %}
<div>
	<h3>About me</h3>
	<p>Là 1 người đã có một số năm kinh nghiệm coding, bên cạnh đó sở thích là coding và sở trường cũng là coding.</p>

	<h3>About this blog</h3>
	<p>Blog được lập ra vì mục đích chia sẻ kiến thức bổ ích mình được tiếp xúc,
		bên cạnh đó là những sai lầm mà mình đã gặp phải trong quá trình coding.</p>

	<h3>Blog này được tạo ra như thế nào?</h3>
	<p>Được tạo ra từ Flask (+ những người bạn họ hàng xa gần của Flask) và cảm hứng của mình sau khi ngắm nghía nhiều blog khác,
	với sự yêu thích theme Sublime Monokai (rất mong muốn clone lại vim-airline nhưng mà chưa thể :frowning:)
	</p>
</div>
{% endblock container %}
