<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }} - {{ site_title }}</title>
		<link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
		<script id="dsq-count-scr" src="//tunc2112.disqus.com/count.js" async></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
		<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/emoji_unicode.json') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/emoji.js') }}"></script>
		{% block head_extension %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ url_for('index') }}"><i class="fa fa-code"></i> {{ site_title }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<!-- <li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="/posts">Posts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categories">Categories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tags">Tags</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
				<form class="form-inline" action="">
					<input class="form-control" type="search" placeholder="Search..." name="s" required>
					<button class="btn btn-outline-primary search_btn" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</nav>
		<div class="container">
			{% block container %}
			{% endblock container %}
		</div>
		<footer class="footer">
			<div class="container">
				<p>
					Copyright © 2020. Make with <i class="fa fa-heart"></i> by <a href="https://github.com/tunc2112">@tunc2112</a>.
				</p>
				{# <div>
					<a href="https://github.com/tunc2112"><i class="fa fa-github fa-3x"></i></a>
				</div> #}
			</div>
		</footer>
		<script>convert_emoji();</script>
	</body>
</html>