{% extends "core.html" %}

{% set description = "All posts" %}
{% if filter_category %}
	{% set description = description + " with category [%s]" % filter_category %}
{% endif %}

{% if filter_tag %}
	{% set description = description + " with tag #" + filter_tag %}
{% endif %}

{% set title = description %}
{% block head_extension %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% macro create_post_subtitle(post, is_new_page_redirecting) %}
<div class="subtitle">
	<i class="fa fa-calendar"></i>
	<span> {{ post.date }}</span>
	<i class="fas fa-comment-alt"></i>
	{% set next_url = (url_for('posts') + "/" + post.path) if is_new_page_redirecting is sameas true else "" %}
	<span><a href="{{ next_url }}#disqus_thread" class="comment_href"></a></span>
</div>
<div>
	<a class="btn btn-success tag_badge" href="{{ url_for('categories') }}/{{ post.category }}" role="button">
		<i class="fa fa-code-fork"></i> {{ post.category }}
	</a>
	{% for tag in post.tags %}
		<a class="btn btn-secondary tag_badge" href="{{ url_for('tags') }}/{{ tag }}" role="button">{{ tag }}</a>
	{% endfor %}
</div>
{% endmacro %}

{% macro create_posts_list(posts, filter_category=None, filter_tag=None) %}
	<ul class="list-group">
	{% for post in posts %}
		{% if (not filter_category or filter_category == post.category) and (not filter_tag or filter_tag in post.tags) %}
			<li class="list-group-item post_info">
				<span>
					{% if post.pinned is sameas true %}
						<span class="badge badge-primary pinned_badge"><i class="fa fa-thumb-tack"></i></span>
					{% endif %}
					<a class="listing_post_title" href="{{ url_for('posts') }}/{{ post.path }}">{{ post.title }}</a>
				</span>
				{{ create_post_subtitle(post, true) }}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endmacro %}

{% block container %}
<h3>{{ description }}</h3>
{{ create_posts_list(posts, filter_category, filter_tag) }}
{% endblock container %}
