{% extends "core.html" %}

{% set title = "Projects" %}
{% block head_extension %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/listing.css') }}">
{% endblock %}

{% block container %}
	<h3>All projects</h3>

	<div class="listing_div">
	{% for project in projects %}
		<div class="card project_card">
			<div class="card-body">
				<h5 class="card-title">{{ project.name }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{ project.description }}</h6>
				<p class="card-text">{{ project.content }}</p>
				<a href="#" class="card-link">Home page</a>
				<a href="https://github.com/tunc2112/{{ project.name }}" class="card-link">GitHub link</a>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock container %}
