{% extends "core.html" %}

{% set title = "Demo" %}

{% block container %}
	<h2>Select a file to upload</h2>
	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>
	<form method="post" action="/" enctype="multipart/form-data">
		<input type="file" name="file" autocomplete="off" required>
		<input type="submit" value="Submit">
	</form>
{% endblock container %}
